body {
  background-color: #ebebeb;
  font-family: "Raleway", sans-serif;
}

a {
  color: #ac94dd;
  text-shadow: 1px 1px 1px #666;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #22263a;
}



.bg-violet {
  background-color: #dccaff;
}

.bg-lightViolet {
  background-color: #e9defd;
}

.text-violet {
  color: #dccaff;
  text-shadow: 1px 1px 1px #666;
}

/* NAVBAR */
.myContNav {
  margin: auto;
}

.myNav {
  border-bottom: 2px solid white;
  position: fixed;
}

/* .myBrand {
    color: white;
    transform: rotate(-13deg);
    padding-left: 3rem;
} */

.myToggler {
  color: #ac94dd;
  background-color: #ececec;
  text-shadow: 1px 1px 1px #666;
  margin: auto;
}

.myCollapse > a {
  color: #ac94dd;
  letter-spacing: 2px;
  padding: 0 1rem;
}

.myCollapse a:hover {
  color: #22263a;
}
/* HOMEPAGE */

.myContainer {
  margin-top: 5rem;
}

.myCol {
  padding: 3rem;
}

.myTitle {
  color: #dccaff;
  text-shadow: 1px 1px 1px #666;
  font-family: "Fredoka One", cursive;
  text-align: right;
}

.myImg {
  border-radius: 100%;
  border: 5px dashed #dccaff;
}
/* 
.myImg:hover {
    box-shadow: -3px -3px 5px #666;
} */

.myText {
  background: #ececec9d;
  border-top: 5px dashed #dccaff;
  margin-top: 3rem;
  padding: 3rem;
  text-align: justify;
}

.myWork {
    border-top: 5px dashed #dccaff;
    padding: 2rem 0;
    margin-bottom: 6rem;
  }

.mySocial {
  text-align: center;
  padding: 1rem;
  border: 5px dashed white;
  position: relative;
  z-index: 2;
}

.mySocial a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px #666;
  padding: 1rem;
}

.mySocial a:hover {
  text-decoration: none;
  color: #22263a;
}

.myFooter {
  background-color: white;
  border: 3px solid #dccaff;
}

.myWave {
  margin-top: -10%;
}

.underWave {
  margin-top: -5%;
  position: relative;
}

/* CAROUSEL */

.carouselContainer {
  width: 90%;
  height: 80%;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
}

.carouselImgs {
  width: 100%;
  height: 100%;
  animation: fade 1.5s;
  display: none;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.prev,
.next {
  position: absolute;
  top: 49%;
  cursor: pointer;
}

.prev {
  font-size: 2rem;
  color: white;
  text-shadow: 1px 1px 1px #666;
}

.next {
  right: 0px;
  font-size: 2rem;
  color: white;
  text-shadow: 1px 1px 1px #666;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slide {
  background-color: #dccaff;
}

.myNet {
    height: 45rem;
}

.myUl {
    list-style-type: none;
}

.myLast {
    padding-bottom: 10rem;
}

#myTornaSu {
  border-radius: 100%;
  right: 3%;
  bottom: 10%;
  position: fixed;
  text-align: center;
  font-size: 4rem;
  z-index: 3;
  color: black;
  display: none;
}
